/* Activăm Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Forțăm tema întunecată (Dark Mode) */
:root {
  color-scheme: dark;
}

body {
  background-color: #242424; /* Gri-ul închis original */
  color: rgba(255, 255, 255, 0.87); /* Text alb */
  margin: 0;
  min-height: 100vh;
}